name: CI (Pull Request)

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      DO_NOT_TRACK: 1
      TURBO_SCM_BASE: ${{ github.event.pull_request.base.sha }}
      TURBO_SCM_HEAD: ${{ github.event.pull_request.head.sha }}
      # To use Remote Caching, uncomment the next lines.
      # TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      # TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm turbo run build --affected

  check:
    name: Check
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      DO_NOT_TRACK: 1
      TURBO_SCM_BASE: ${{ github.event.pull_request.base.sha }}
      TURBO_SCM_HEAD: ${{ github.event.pull_request.head.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check types
        run: pnpm turbo run types --affected

      - name: Lint
        if: success() || failure()
        run: pnpm turbo run lint --affected

      - name: Check format
        if: success() || failure()
        run: pnpm turbo run format --affected
