name: CI

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      DO_NOT_TRACK: 1
      # To use Remote Caching, uncomment the next lines and follow the steps below.
      # TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      # TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm build

  lint-and-format:
    name: Lint and Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # NOTE: Treeless clones behave very poorly with submodules, so change this to a blobless
          # clone instead if submodules are introduced into the repo (use blob:none in that case).
          # Source:
          # https://github.blog/open-source/git/get-up-to-speed-with-partial-clone-and-shallow-clone
          # Treeless clones are better than blobless for GitHub actions because each runner is
          # ephemeral where we clone the repo, run CI, then throw it away.
          filter: tree:0
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check linting, formatting, and types
        # NOTE: This lints the entire repo instead of just the diff. Switch to oxlint-action once
        # type-aware linting is supported: https://github.com/oxc-project/oxlint-action.
        run: pnpm check:all
